html {
    cursor: wait;
}
::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'VT323', monospace;
}


.hero-image {
    padding: 20px;
    border: 10px ridge indigo;
    background: rgba(163, 29, 235, 0.4);
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(54,204,229,0.7973564425770308) 59%, rgba(0,2,212,0.6376925770308124) 95%); */
    background-image: url('https://i.imgur.com/P5MBjQr.gif?1');
    background-size: 4px 4px;
}


.profile-pic {
    padding: 10px;
    margin-right: 20px;
}

#welcome {
    /* width: 100%; */
    text-align: center;
    position: relative;
    /* background: rgb(49,0,65); */
    /* background: linear-gradient(180deg, rgba(49,0,65,1) 5%, rgba(75,9,121,1) 40%, rgba(144, 8, 172, 0.715) 85%); */
}

.profile-container button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-head {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    padding: 10px;
    background: rgb(49,0,65);
    background: radial-gradient(circle, rgba(49,0,65,1) 5%, rgba(75,9,121,1) 40%, rgba(255,0,249,0.7147233893557423) 85%);
    border: 10px ridge hotpink;
}

.page-head:hover {
    text-transform: uppercase;
    transform: translateX(-416px);
}

.posts-header {
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    padding: 10px;
    background: rgb(49,0,65);
    background: radial-gradient(circle, rgba(49,0,65,1) 0%, rgba(75,9,121,1) 21%, rgba(255,0,249,0.7147233893557423) 100%);
    border: 10px ridge hotpink;
    text-align: center;
    max-width: fit-content;
    margin: 40px auto;
}

h1 {
    box-shadow: 1px 1px 20px 10px indigo;
}

.profile-container {
    position: relative;
    color: greenyellow;
    padding: 10px;
    background: rgb(49,0,65);
    background: radial-gradient(circle, rgba(49,0,65,1) 5%, rgba(75,9,121,1) 40%, rgba(255,0,249,0.7147233893557423) 85%);
    border: 10px ridge hotpink;
    box-shadow: 1px 1px 10px 5px indigo;
    max-width: fit-content;
}


input:not([type='range']), button {
    color: greenyellow;
    background-color: indigo;
    border: 5px outset purple;
    box-shadow: 1px 1px 10px 5px violet;
    outline: none;
    -webkit-appearance: none;
    margin: 5px;
}

input:hover, button:hover {
    background-color: violet;
}

input:active:not([type='range']) {
    border: 6px inset purple;
    transform: translateY(2px);
    outline: none;
    -webkit-appearance: none;
}

body {
    background: url('https://i.pinimg.com/originals/08/9a/da/089ada08074a01c6ff09c629d25843c2.jpg') no-repeat center center fixed;
    background-color: #ca36f2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: w;
    padding: 10px;
}

ul {
    list-style: none;
}


header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px; 
}



.canvas-pic {
    position: absolute;
    top: 500px;
    width: 100px;
    height: 100px;
    background-color: indigo;
    border: 10px ridge hotpink;
    box-shadow: 1px 1px 10px 5px violet;
    outline: none;
    -webkit-appearance: none;
    margin: 0px;
    padding: 0;
}

.canvas-pic img {
    width: 100%;
    height: 100%;
}
@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}
.canvas-pic:hover {
    cursor: pointer;
    animation: rotation linear .1s infinite;
}


/* AUDIO */

.audio-container {
    width: 300px;
    background: rgba(163, 29, 235, 0.4);
    text-align: center;
    color: #cb9ed8;
    padding: 2px;
    margin: 0;
}

.controls {
    margin: 15px;
}
.audio-container button {
    margin: 0px;
}

#songInfo {
    color: greenyellow;
    margin: 0px;
    background: rgb(49,0,65);
}


#innerHeroImage {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
