html {
    cursor: wait;
}

.page-head {
    color: greenyellow;
    padding: 10px;
    background-color: indigo;
    border: 10px ridge hotpink;
}

.posts-header {
    color: greenyellow;
    padding: 10px;
    background-color: indigo;
    border: 10px ridge hotpink;
}

h1 {
    box-shadow: 1px 1px 20px 10px indigo;
}

h2 {
    color: greenyellow;
    padding: 10px;
    background-color: indigo;
    border: 10px ridge hotpink;
    box-shadow: 1px 1px 10px 5px indigo;
}

input:not([type='range']) {
    color: greenyellow;
    background-color: indigo;
    border: 5px outset purple;
    box-shadow: 1px 1px 10px 5px violet;
}

body {
    background-color: #6e2586;
    background: url('https://i.pinimg.com/originals/08/9a/da/089ada08074a01c6ff09c629d25843c2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: w;
    padding: 10px;
}

ul {
    list-style: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}