.post-container {
    border: 10px ridge purple;
    padding: 10px;
    color: indigo;
    background-color: RGBA(31, 209, 219, 0.8);
    box-shadow: 1px 1px 10px 5px violet;
}

.post-text {
    width: 80%;
    width: 450px;
    height: 104px;
    color: indigo;
    background-color: RGBA(31, 209, 219, 0.8);
    border: 8px ridge purple;
    margin-bottom: 0;
}

.post-text::placeholder {
    color: indigo;
}

#post-submit {
    margin-bottom: 10px;
}

.new-post-container{
    position: relative;
}
.show-chars {
    display: inline-block;
    position: absolute;
    left: 300px;
    bottom: 50px;
    margin: 0;
    padding: 0; 
    text-align: center;
}
input:disabled {
    visibility: hidden;
}